<div style="background-color: black;">
<h1 align="center" style="color: white ;"> BMW <img src="assets/images/bmw.svg" style="max-width: 100px;max-height: 70px;"> </h1> <br/>
<div class="container" style="background-color: black; border:0px solid black;">
    <div class="row md-10" style="background-color: black; border:0px solid black;">
        <div class="col-xl-10" *ngFor="let bmwproduct of bmw" style="background-color: black; border:0px solid black;">
            <div class="card" style="width: 1120px; height:100%;background-color: black; border:0px solid black;" >
                <img class="card-image" [src]=bmwproduct.imagePath alt="Card Image Cap"/>
                <div class="card-body" style="background-color: black; border:0px solid black;">
                    <h3 class="card-title" style="text-align: center;color: white;"> {{bmwproduct.productName}} </h3>                    
                    <p class="card-text" style="color: white;"> {{bmwproduct.description1}} </p>
                    <p class="card-text" style="color: white;"> {{bmwproduct.description2}} </p>
                    <p align="right">
                    <button class="btn btn-black" style="color: white; border:1px solid white;" (click)="book(bmwproduct.productName)"> BOOK A TEST DRIVE </button>
                </p>
                </div>
            </div>            
        </div>
        <br/>
    </div>
</div>
</div>